<nav id="sidebar">
    <div class="sidebar_blog_1">
        <div class="sidebar_user_info">
            <div class="icon_setting"></div>
            <div class="user_profle_side">
                <div class="user_img"><img class="img-responsive" src="~/pluto-1.0.0/images/layout_img/user_img.jpg" alt="#" /></div>
                <div class="user_info">
                    <h6>John David</h6>
                    <p><span class="online_animation"></span> Online</p>
                </div>
            </div>
        </div>
    </div>
    <div class="sidebar_blog_2">
        <h4>General</h4>
        <ul class="list-unstyled components">
            <li><a href="/Admin/Default/Index"><i class="fa fa-dashboard yellow_color"></i> <span>Dashboard</span></a></li>
            <li><a href="/Admin/AdminAbout/Index"><i class="fa fa-info-circle orange_color"></i> <span>Hakkımızda Alanı</span></a></li>
            <li><a href="/Admin/AboutBanner/Index"><i class="fa fa-newspaper-o purple_color"></i> <span>Hakkımızda Alanı Banner</span></a></li>
            <li><a href="/Admin/Category/Index"><i class="fa fa-tasks green_color"></i> <span>Kategori</span></a></li>
            <li><a href="/Admin/Product/Index"><i class="fa fa-cutlery blue2_color"></i> <span>Ürünler</span></a></li>
            <li><a href="/Admin/ContactInfo/Index"><i class="fa fa-arrows red_color"></i> <span>Adres Bilgileri</span></a></li>
            <li><a href="/Admin/Gallery/Index"><i class="fa fa-image orange_color"></i> <span>Galeri</span></a></li>
            <li><a href="/Admin/Message/Index"><i class="fa fa-send yellow_color"></i> <span>Mesajlar</span></a></li>
            <li><a href="/Admin/Newsletter/Index"><i class="fa fa-envelope green_color"></i> <span>Mail Bülteni</span></a></li>
            <li><a href="/Admin/OpenHour/Index"><i class="fa fa-bell purple_color"></i> <span>Çalışma Saatleri</span></a></li>
            <li><a href="/Admin/Service/Index"><i class="fa fa-tags blue2_color"></i> <span>Hizmetler</span></a></li>
            <li><a href="/Admin/Slider/Index"><i class="fa fa-sliders yellow_color"></i> <span>Slider</span></a></li>
            <li><a href="/Admin/SocialMedia/Index"><i class="fa fa-certificate green_color"></i> <span>Sosyal Medya</span></a></li>
            <li><a href="/Admin/Team/Index"><i class="fa fa-users orange_color"></i> <span>Çalışanlar</span></a></li>
            <li><a href="/Admin/Testimonial/Index"><i class="fa fa-comment yellow_color"></i> <span>Müşteri Yorumları</span></a></li>
            <li><a href="/Admin/WhyUs/Index"><i class="fa fa-question red_color"></i> <span>Neden Biz</span></a></li>
            
        </ul>
    </div>
</nav>